<script type="text/javascript">
  RED.nodes.registerType('example-node-1', {
    category: 'example-project',
    color: '#a6bbcf',
    defaults: {
      name: {
        value: ""
      }
    },
    inputs: 1,
    outputs: 1,
    icon: "database.png",
    label: function() {
      return this.name || "example-node-1";
    }
  });
</script>

<script type="text/x-red" data-template-name="example-node-1">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/x-red" data-help-name="example-node-1">
  <p>Example node 1</p>
</script>
