<script type="text/x-red" data-template-name="validate-rb">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i>Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row" id="node-input-validatePayloadPath-row">
    <label for="node-input-validatePayloadPath"><i class="icon-tag"></i>Validate Payload Path</label>
    <input type="text" id="node-input-validatePayloadPath" placeholder="Validate Payload Path">
  </div>
  <div class="form-row" style="margin-bottom: 0px;">
      <label for="node-input-validate"><i class="fa fa-wrench"></i>Validate (Schema JSON)</label>
      <input type="hidden" id="node-input-validate" autofocus="autofocus">
  </div>
  <div class="form-row node-text-editor-row" style="position:relative">
      <div style="position: absolute; right:0; bottom:calc(100% + 3px);"><button id="node-function-expand-js" class="red-ui-button red-ui-button-small"><i class="fa fa-expand"></i></button></div>
      <div style="height: 250px; min-height:150px;" class="node-text-editor" id="node-input-validate-editor" ></div>
  </div>
</script>

<script type="text/x-red" data-help-name="validate-rb">
  <p>Validate (Mongo style)</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('validate-rb', {
    category: 'redbed',
    color: '#FFFFFF',
    defaults: {
      name: {
        value: ""
      },
      validatePayloadPath: {
        value: "msg.payload"
      },
      validate: {
        value: '{}'
      }
    },
    inputs: 1,
    outputs: 1,
    icon: "red-bed-128.png",
    label: function() {
      return ['validate', this.validatePayloadPath].join(':');
    },
    oneditprepare: function() {
      var that = this;

      this.editor = RED.editor.createEditor({
        id: 'node-input-validate-editor',
        mode: 'ace/mode/nrjavascript',
        value: $("#node-input-validate").val(),
        globals: {
          msg: true,
          context: true,
          RED: true,
          util: true,
          flow: true,
          global: true,
          console: true,
          Buffer: true,
          setTimeout: true,
          clearTimeout: true,
          setInterval: true,
          clearInterval: true
        }
      });

      this.editor.focus();

      $("#node-function-expand-js").on("click", function(e) {
        e.preventDefault();
        var value = that.editor.getValue();
        RED.editor.editJavaScript({
          value: value,
          width: "Infinity",
          cursor: that.editor.getCursorPosition(),
          mode: "ace/mode/nrjavascript",
          complete: function(v, cursor) {
            that.editor.setValue(v, -1);
            that.editor.gotoLine(cursor.row + 1, cursor.column, false);
            setTimeout(function() {
              that.editor.focus();
            }, 300);
          }
        })
      })
    },
    oneditsave: function() {
      var annot = this.editor.getSession().getAnnotations();
      this.noerr = 0;
      $("#node-input-noerr").val(0);
      for (var k = 0; k < annot.length; k++) {
        if (annot[k].type === "error") {
          $("#node-input-noerr").val(annot.length);
          this.noerr = annot.length;
        }
      }
      $("#node-input-validate").val(this.editor.getValue());
      this.editor.destroy();
      delete this.editor;
    },
    oneditcancel: function() {
      this.editor.destroy();
      delete this.editor;
    },
    oneditresize: function(size) {
      var rows = $("#dialog-form>div:not(.node-text-editor-row)");
      var height = $("#dialog-form").height();
      for (var i = 0; i < rows.length; i++) {
        height -= $(rows[i]).outerHeight(true);
      }
      var editorRow = $("#dialog-form>div.node-text-editor-row");
      height -= (parseInt(editorRow.css("marginTop")) + parseInt(editorRow.css("marginBottom")));
      $(".node-text-editor").css("height", height + "px");
      this.editor.resize();
    }
  });
</script>
