<script src="/red-bed.js"></script>
<script type="text/x-red" data-template-name="state-rb">
  <div class="form-row">
    <label for="node-input-machine"><i class="icon-tag"></i>Machine</label>
    <input type="text" id="node-input-machine" placeholder="Machine">
  </div>
  <div class="form-row">
    <label for="node-input-stateKey"><i class="icon-tag"></i>State Key</label>
    <input type="text" id="node-input-stateKey" placeholder="State Key">
  </div>
  <div class="form-row">
    <label for="node-input-stateOperation"><i class="icon-tag"></i>State Operation</label>
    <select type="text" id="node-input-stateOperation" placeholder="State Operation" onChange="stateOperationChanged(this)">
      <option value="GET">GET</option>
      <option value="SET">SET</option>
      <option value="EXPECT">EXPECT</option>
    </select>
  </div>
  <div class="form-row" id="node-input-stateValue-row" style="display:none">
    <label for="node-input-stateValue"><i class="icon-tag"></i>State Value</label>
    <input type="text" id="node-input-stateValue" placeholder="State Value">
  </div>
</script>

<script type="text/x-red" data-help-name="state-rb">
  <p>State Machine Node</p>
</script>

<script type="text/javascript">
  function stateOperationChanged(evt){
    displayControls(['node-input-stateValue-row'], evt.value == 'SET' || evt.value == 'EXPECT'?"block":"none");
  }
  RED.nodes.registerType('state-rb', {
    category: 'redbed',
    color: '#FFFFFF',
    defaults: {
      machine: {
        value: "GLOBAL"
      },
      stateKey: {
        value: "STATE"
      },
      stateOperation: {
        value: "GET"
      },
      stateValue: {
        value: ""
      }
    },
    inputs: 1,
    outputs: 1,
    icon: "red-bed-128.png",
    label: function() {
      var label = this.stateOperation.substring(0, 3) + ' ' + this.machine + ':' + this.stateKey;
      if (this.stateOperation == 'EXPECT' || this.stateOperation == 'SET') label += ':' + this.stateValue;
      return label.toLowerCase();
    }
  });
</script>
