<script type="text/x-red" data-template-name="service-event-rb">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i>Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-eventOperation"><i class="icon-tag"></i>Operation</label>
    <select type="text" id="node-input-eventOperation" placeholder="Event Operation" onChange="eventOperationChanged(this)">
      <option value="ON">ON</option>
      <option value="EMIT">EMIT</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-service"><i class="icon-tag"></i>Service</label>
    <select type="text" id="node-input-service" placeholder="Service">
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-eventKey"><i class="icon-tag"></i>Event Key</label>
    <input type="text" id="node-input-eventKey" placeholder="Event Key">
  </div>
  <div class="form-row" id="node-input-eventPayloadPath-row" style="display:none">
    <label for="node-input-eventPayloadPath"><i class="icon-tag"></i>Event Payload Path</label>
    <input type="text" id="node-input-eventPayloadPath" placeholder="Event Payload Path">
  </div>
</script>

<script type="text/x-red" data-help-name="service-event-rb">
  <p>Service Event</p>
</script>

<script type="text/javascript">

  function eventOperationChanged(evt){
    displayControls(['node-input-eventPayloadPath-row'], evt.value == 'EMIT'?"block":"none");
  }

  let editPrepared = false;

  RED.nodes.registerType('service-event-rb', {
    category: 'redbed',
    color: '#FFFFFF',
    defaults: {
      name: {
        value: ""
      },
      service: {
        value: "red-bed-event"
      },
      eventOperation:{
        value: "ON"
      },
      eventKey:{
        value: "*"
      },
      eventPayloadPath: {
        value: "msg.payload"
      }
    },
    inputs: 1,
    outputs: 1,
    icon: "red-bed-128.png",
    label: function() {
      if (this.service == '')
        return 'unconfigured';
      return [this.eventOperation, this.service, this.eventKey].join(':');
    },
    oneditprepare: function() {
      var servicesSelect = document.getElementById('node-input-service');
      var thisService = this.service;
      RED.settings.serviceEventRbServiceNames.forEach(function(serviceName, serviceNameIndex){
        var opt = document.createElement('option');
        opt.value = serviceName;
        opt.innerHTML = serviceName;
        servicesSelect.appendChild(opt);
        if (thisService == serviceName)
          servicesSelect.selectedIndex = serviceNameIndex;
      });
    }
  });
</script>
