<script type="text/x-red" data-template-name="get-setting-rb">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i>Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-settingPath"><i class="icon-tag"></i>Setting path</label>
    <input type="text" id="node-input-settingPath" placeholder="Setting path">
  </div>
</script>

<script type="text/x-red" data-help-name="get-setting-rb">
  <p>Get Setting</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('get-setting-rb', {
    category: 'redbed',
    color: '#FFFFFF',
    defaults: {
      name: {
        value: ""
      },
      settingPath: {
        value: ""
      }
    },
    inputs: 1,
    outputs: 1,
    icon: "red-bed-128.png",
    label: function() {
      if (!this.settingPath) return 'unconfigured';
      return this.settingPath;
    }
  });
</script>
