<script type="text/x-red" data-template-name="key-value-rb">
  <div class="form-row">
    <label for="node-input-key"><i class="icon-tag"></i>Key</label>
    <input type="text" id="node-input-key" placeholder="Key">
  </div>
  <div class="form-row">
    <label for="node-input-kvOperation"><i class="icon-tag"></i>Operation</label>
    <select type="text" id="node-input-kvOperation" placeholder="Operation" onChange="kvOperationChanged(this)">
      <option value="GET">GET</option>
      <option value="SET">SET</option>
      <option value="UNSET">REMOVE</option>
    </select>
  </div>
  <div class="form-row" id="node-input-valuePayloadPath-row">
    <label for="node-input-valuePayloadPath"><i class="icon-tag"></i>Value Payload Path</label>
    <input type="text" id="node-input-valuePayloadPath" placeholder="Value Payload Path">
  </div>
</script>

<script type="text/x-red" data-help-name="key-value-rb">
  <p>Filter (JSON)</p>
</script>

<script type="text/javascript">
  function kvOperationChanged(evt){
    displayControls(['node-input-valuePayloadPath-row'], evt.value == 'SET'?"block":"none");
  }
  
  RED.nodes.registerType('key-value-rb', {
    category: 'redbed',
    color: '#FFFFFF',
    defaults: {
      key: {
        value: ""
      },
      kvOperation: {
        value: "GET"
      },
      valuePayloadPath: {
        value: "msg.payload"
      },
    },
    inputs: 1,
    outputs: 1,
    icon: "red-bed-128.png",
    label: function() {
      switch(this.kvOperation) {
        case "SET": return `set:${this.key}:${this.valuePayloadPath}`;
        case "GET": return `get:${this.key}`;
        case "UNSET": return `remove:${this.key}`;
      }
    },
    oneditprepare: function() {
      this.editor = RED.editor.createEditor({
        id: 'node-input-value-editor',
        mode: 'ace/mode/nrjavascript',
        value: $("#node-input-value").val(),
        globals: {
          msg: true,
          context: true,
          RED: true,
          util: true,
          flow: true
        }
      });

      this.editor.focus();

      $("#node-function-expand-js").on("click", e => {
        e.preventDefault();
        var value = this.editor.getValue();
        RED.editor.editJavaScript({
          value: value,
          width: "Infinity",
          cursor: this.editor.getCursorPosition(),
          mode: "ace/mode/nrjavascript",
          complete: function(v, cursor) {
            this.editor.setValue(v, -1);
            this.editor.gotoLine(cursor.row + 1, cursor.column, false);
            setTimeout(function() {
              this.editor.focus();
            }, 300);
          }
        })
      })
    },
    oneditsave: function() {
      var annot = this.editor.getSession().getAnnotations();
      this.noerr = 0;
      $("#node-input-noerr").val(0);
      for (var k = 0; k < annot.length; k++) {
        if (annot[k].type === "error") {
          $("#node-input-noerr").val(annot.length);
          this.noerr = annot.length;
        }
      }
      $("#node-input-value").val(this.editor.getValue());
      this.editor.destroy();
      delete this.editor;
    },
    oneditcancel: function() {
      this.editor.destroy();
      delete this.editor;
    },
    oneditresize: function(size) {
      var rows = $("#dialog-form>div:not(.node-text-editor-row)");
      var height = $("#dialog-form").height();
      for (var i = 0; i < rows.length; i++) {
        height -= $(rows[i]).outerHeight(true);
      }
      var editorRow = $("#dialog-form>div.node-text-editor-row");
      height -= (parseInt(editorRow.css("marginTop")) + parseInt(editorRow.css("marginBottom")));
      $(".node-text-editor").css("height", height + "px");
      this.editor.resize();
    }
  });
</script>
